doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf8', name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

  body
    block content
    //- script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='/javascripts/jquery.js')
    //- script(src='/javascripts/global.js')
